<h1><%= @recipe.name %></h1>

<h3>Description</h3>
<% if @recipe.description != nil %>
<p><%= @recipe.description %></p>
  <%else%>
<%="This recipe doesn't have a description."%>
<%end%>

<h3>Instructions</h3>
<% if @recipe.instructions != nil %>
<p><%= @recipe.instructions %></p>
  <%else%>
<%="This recipe doesn't have any instructions."%>
<%end%>


<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><a href="/recipes">Back to Recipes</a></p>
